---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full h-full mx-auto flex-1 relative overflow-visible`}
>
  <slot />
</section>

